# ASSIGNMENT 1

Question 1

* = Expression

In [4]:
a="hello"
type(a)

str

'hello'= values

In [5]:
b='-87.8'
type(b)

str

-87.7 = values

- = Expression

/ = Expression

+ = Expression

In [6]:
c= 6
type(c)

int

6 = values

question 2

 variable is name where we can store data and for string is value representing using single quotes or double quotes having lot of function in it.ex 'pooja'

question 3

In [7]:
a='345'
type(a)

str

string is representing using quotes

In [12]:
b = True
type(b)

bool

boolean datatypes represents only two values ie True or False

In [13]:
c= 987
type(c)

int

integer is numeric whole no. value

question 4

expression is made up of values, variables and mathematical operators.
for ex

In [14]:
d=30
e=56

In [15]:
f=(d+e)/2
f

43.0

question 5

Expression is made up of values, variables and mathematical operators and the statement is a command that a python interpreter executes like print.

question 6

In [19]:
bacon = 22
bacon + 1

23

question 7

In [16]:
a='spam'+'spamspam'
a

'spamspamspam'

In [18]:
b='spam'*3
b

'spamspamspam'

values for both the terms will be same where in first case wee are using concatenation and in second we are using mathematical operetors.

question 8

we cant use integer as variable name since every variable sholud start only with alphbet also we use _ bfore typing any no. as variable name

In [21]:
eggs = 20

In [25]:
_100 = 39
_100

39

In [24]:
100=78

SyntaxError: cannot assign to literal (<ipython-input-24-0e4309f07d4a>, line 1)

question 9

to know what kind of data is we use
str()
int()
float()

question 10

in this expression we can integer is being concatenate by string so 
by simply converting integer into string we can concatenate the expression

In [26]:
a='I have eaten'+99+'burritos'
a

TypeError: can only concatenate str (not "int") to str

In [31]:
b='I have eaten ' + str(99) + ' burritos'
b

'I have eaten 99 burritos'